<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleLocalizations</key>
		<array>
			<string>ko</string>
			<string>en</string>
		</array>
		<key>CFBundleDisplayName</key>
		<string>로하스밀</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>lohasmeal</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>supertoss</string>
			<string>kb-acp</string>
			<string>liivbank</string>
			<string>newliiv</string>
			<string>kbbank</string>
			<string>nhappcardansimclick</string>
			<string>nhallonepayansimclick</string>
			<string>nonghyupcardansimclick</string>
			<string>lottesmartpay</string>
			<string>lotteappcard</string>
			<string>mpocket.online.ansimclick</string>
			<string>ansimclickscard</string>
			<string>tswansimclick</string>
			<string>ansimclickipcollect</string>
			<string>vguardstart</string>
			<string>samsungpay</string>
			<string>scardcertiapp</string>
			<string>shinhan-sr-ansimclick</string>
			<string>smshinhanansimclick</string>
			<string>com.wooricard.wcard</string>
			<string>newsmartpib</string>
			<string>citispay</string>
			<string>citicardappkr</string>
			<string>citimobileapp</string>
			<string>cloudpay</string>
			<string>hanawalletmembers</string>
			<string>hdcardappcardansimclick</string>
			<string>smhyundaiansimclick</string>
			<string>shinsegaeeasypayment</string>
			<string>payco</string>
			<string>lpayapp</string>
			<string>ispmobile</string>
			<string>tauthlink</string>
			<string>ktauthexternalcall</string>
			<string>upluscorporation</string>
			<string>kftc-bankpay</string>
			<string>kakaotalk</string>
			<string>wooripay</string>
			<string>lmslpay</string>
			<string>naversearchthirdlogin</string>
			<string>hanaskcardmobileportal</string>
			<string>kb-bankpay</string>
            <string>naversearchapp</string>
            <string>naversearchthirdlogin</string>
		</array>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.lohasmeal</string>
                    <string>lohasmeal</string>
                    <string>lohasmeal-dev</string>
                    <string>cokloghost</string>
                </array>
            </dict>
        </array>
        <key>naverConsumerKey</key>
        <string>YOUR_NAVER_CLIENT_ID</string>
        <key>naverConsumerSecret</key>
        <string>YOUR_NAVER_CLIENT_SECRET</string>
        <key>naverServiceAppName</key>
        <string>로하스밀</string>
        <key>naverServiceAppUrlScheme</key>
        <string>com.lohasmeal</string>
        <key>NSCameraUsageDescription</key>
        <string>사진을 촬영하려면 접근 권한을 허용해주세요.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>사진을 선택해 등록하거나, 저장할 수 있도록 권한을 허용해주세요.</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>이미지를 사진첩에 저장할 수 있도록 권한을 허용해주세요.</string>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>주소 입력을 빠르고 정확하게 도와드리기 위해 위치정보 접근 권한이 필요해요.</string>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>주소 입력을 빠르고 정확하게 도와드리기 위해 위치정보 접근 권한이 필요해요.</string>
        <key>FlutterDeepLinkingEnabled</key>
        <false/>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsLocalNetworking</key>
            <true/>
        </dict>
	</dict>
</plist>
